DB_DIALECT=mysql
DB_HOST=srv2062.hstgr.io
DB_PORT=3306
DB_NAME=u695701224_entertainment
DB_USER=u695701224_entertainment
DB_PASSWORD=(Entertainment123)
DB_SKIP_CREATE_DATABASE=true
ADMIN_JWT_SECRET=change-me-to-a-long-random-string